// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

    @include media-breakpoint(basic) {
        .allPartnersFluid{
            & .allpartnersContainers{
                & .allPartnersHeading{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 80px;
                    color: $black;
                    text-align: center;
                    padding-top: 84px;
                }
                & .inputBox{
                    margin-bottom: 88px;
                    position: relative;
                    & .inputClass{
                        width: 100%;
                        height: 90px;
                        box-shadow: 0px 11px 17px rgba(0, 0, 0, 0.07);
                        border-radius: 10px;
                        border: none;
                        padding: 32px 200px 32px 135px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                        color: #838383;
                        &.colourClass{
                            background-color: #F6F8F9;
                        }
                        &.ausInpBg{
                            background-color: #FFFCFC;
                        }
                    }
                    & .capMain{
                        position: absolute;
                        width: 22.87px;
                        left: 48px;
                        top: 50%;
                        transform: translateY(-50%);
                        & img{
                            height: 20px;
                        }
                    }
                    & .searchMain{
                        width: 77px;
                        height: 80px;
                        background: #B4111A;
                        border: 1px solid #000000;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 8px;
                        top: 5px;
                        & img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
        .partnersCardFluid{
            & .partnersCardContainer{
                & .paddingClass{
                    background-color: #FFFFFF;
                    box-shadow: 0px 1.57219px 22.7967px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    min-height: 222px;
                    flex-direction: column;
                    & .cardHeader{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15.7219px;
                        line-height: 24px;
                        color: #000000;
                        padding: 18px 0 18px 18px;
                    }
                    & .headerArrow{
                        width: 26px;
                        height: 26px;
                        margin: 18px 9px 18px 0;
                        display: block;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    & .university{
                        padding: 44px 38px 44px 38px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        & img{
                        max-height: 68px;
                        max-width: 100%;
                        }
                    }
                    & .btnPadding{
                        padding: 0 18px 11px 18px;
                        & .bottomBtn{
                            background: #FFFFFF;
                            border: 1px solid #DDDDDD;
                            border-radius: 5px;
                            border-color: #DDDDDD ;
                            width: 100%;
                            padding: 8px 51px;
                            color: #B4111A;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            transition: 0.3s ease-in-out;
                            &:hover {
                                background-color: #B4111A;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .agentSignUpOnefluid{
            & .agentSingnUpContainer{
                & .agentSignUpBox{
                    background: rgba(255, 255, 255, 0.74);
                    border: 1px solid #E3E3E3;
                    border-radius: 20px;
                    padding: 44px 45px;
                    margin-top: 55px;
                    margin-bottom: 55px;
                    & .agentSignUpMainHead{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        color: black;
                        margin-bottom: 36px;
                    }
                    & .noteBox{
                        background: rgba(180, 17, 26, 0.03);
                        border-radius: 20px;
                        padding: 24px 40px;
                        margin-bottom: 25px;
                        & .noteTxt{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 27px;
                            display: flex;
                            align-items: center;
                            color: #B4111A99;
                        }
                    }
                    & .agentSignUpFormInp{
                        background: rgba(217, 217, 217, 0.07);
                        border: 1px solid #DFDFDF;
                        border-radius: 6px;
                        height: 74px;
                        padding: 24px 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 27px;
                        color: #9B9B9B;
                        margin-bottom: 14px;
                        box-shadow: none;
                    }
                    & .agentSignUpBtn{
                        background: #B20E19;
                        border: 1px solid #B20E19;
                        border-radius: 6px;
                        height: 74px;
                        border: 1px solid #B20E19;
                        color: white;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        width: 100%;
                        margin-top: 11px;
                        &:hover{
                            background-color: white;
                            border-color: #B20E19;
                            color: #B20E19;
                        }
                    }
                    & .agentLblTopTxt{
                        margin-top: 32px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 33px;
                        color: #545454;
                        display: block;
                        margin-bottom: 6px;
                    }
                    & .agentLbl{
                        background: rgba(180, 17, 26, 0.03);
                        border: 1px dashed #000000;
                        border-radius: 20px;
                        height: 130px;
                        padding: 36px 79px;
                        display: block;
                        margin-bottom: 26px;
                        & span:first-child{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 27px;
                            color: #9B9B9B;
                            display: block;
                            text-align: center;
                        }
                        & span:last-child{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 27px;
                            color: #B4111A99;
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        
        .allPartnersFluid{
            & .allpartnersContainers{
                & .allPartnersHeading{
                    padding-top: 60px;
                    font-size: 38px;
                }
                & .inputBox{
                    margin-bottom: 70px;
                    & .inputClass{
                        height: 80px;
                        padding: 32px 90px 32px 115px;
                        font-size: 17px;
                        &.colourClass{
                        }
                    }
                    & .capMain{
                        & img{
                        }
                    }
                    & .searchMain{
                        height: 70px;
                        width: 70px;
                        position: absolute;
                        top: 4;
                        & img{
                        }
                    }
                }
            }
        }
        .partnersCardFluid{
            & .partnersCardContainer{
                & .paddingClass{
                    & .cardHeader{
                        font-size: 15px;
                        padding: 15px 0 15px 15px;
                    }
                    & .headerArrow{
                        margin: 0;
                        & img{
                            width: 36px;
                            height: 20px;
                        }
                    }
                    & .university{
                        padding: 34px!important;
                        & img{
                        }
                    }
                    & .btnPadding{
                        padding: 0 15px 11px 15px;
                        & .bottomBtn{
                            height: 37px;
                            padding: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        
        .agentSignUpOnefluid{
            & .agentSingnUpContainer{
                & .agentSignUpBox{
                    
                    & .agentSignUpMainHead{
                    }
                    & .noteBox{
                        
                        & .noteTxt{
                            
                        }
                    }
                    & .agentSignUpFormInp{
                        
                    }
                    & .agentSignUpBtn{
                        
                        &:hover{
                            
                        }
                    }
                    & .agentLblTopTxt{
                        margin-top: 0;
                    }
                    & .agentLbl{
                        & span:first-child{
                            font-size: 16px;
                        }
                        & span:last-child{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .allPartnersFluid{
        & .allpartnersContainers{
            & .allPartnersHeading{
                padding-top: 40px;
                font-size: 36px;
                line-height: 65px;
            }
            & .inputBox{
                margin-bottom: 50px;
                & .inputClass{
                    height: 60px;
                    padding-left: 70px;
                    font-size: 16px;
                    &.colourClass{
                    }
                }
                & .capMain{
                    left: 25px;
                    & img{
                    }
                }
                & .searchMain{
                    width: 50px;
                    height: 50px;
                    top: 7px;
                    & img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .partnersCardFluid{
        & .partnersCardContainer{
            & .paddingClass{
                & .cardHeader{
                    line-height: 23px;
                    font-size: 15px;
                }
                & .headerArrow{
                    & img{
                    }
                }
                & .university{
                    padding: 25px 20px 26px 20px !important;
                    & img{
                    }
                }
                & .btnPadding{
                    & .bottomBtn{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .agentSignUpOnefluid{
        & .agentSingnUpContainer{
            & .agentSignUpBox{
                
                & .agentSignUpMainHead{
                    font-size: 25px;
                }
                & .noteBox{
                    
                    & .noteTxt{
                        font-size: 15px;
                    }
                }
                & .agentSignUpFormInp{
                    height: 56px;
                    font-size: 15px;
                }
                & .agentSignUpBtn{
                    height: 56px;
                    font-size: 15px;
                    &:hover{
                        
                    }
                }
                & .agentLblTopTxt{
                    margin-top: 0;
                    font-size: 18px;
                }
                & .agentLbl{
                    padding: 30px 35px;
                    height: 110px;
                    & span:first-child{
                        font-size: 15px;
                    }
                    & span:last-child{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

    @include media-breakpoint-down(lg) {
        .allPartnersFluid{
            & .allpartnersContainers{
                & .allPartnersHeading{
                }
                & .inputBox{
                    & .inputClass{
                        &.colourClass{
                        }
                    }
                    & .capMain{
                        & img{
                        }
                    }
                    & .searchMain{
                        & img{
                        }
                    }
                }
            }
        }
        .partnersCardFluid{
            & .partnersCardContainer{
                & .paddingClass{
                    & .cardHeader{
                    }
                    & .headerArrow{
                        & img{
                        }
                    }
                    & .university{
                        & img{
                        }
                    }
                    & .btnPadding{
                        & .bottomBtn{
                        }
                    }
                }
            }
        }
        .agentSignUpOnefluid{
            & .agentSingnUpContainer{
                & .agentSignUpBox{
                    padding: 25px 25px;
                    & .agentSignUpMainHead{
                        margin-bottom: 15px;
                    }
                    & .noteBox{
                        padding: 18px 18px;
                        & .noteTxt{
                            line-height: 21px;
                        }
                    }
                    & .agentSignUpFormInp{
                        padding: 24px 18px;
                    }
                    & .agentSignUpBtn{
                        
                        &:hover{
                            
                        }
                    }
                    & .agentLblTopTxt{
                        font-size: 16px !important;
                        margin-top: 0;
                    }
                    & .agentLbl{
                        padding: 18px 18px;
                        height: 100px;
                        & span:first-child{
                            font-size: 16px;
                        }
                        & span:last-child{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .allPartnersFluid{
            & .allpartnersContainers{
                & .allPartnersHeading{
                    padding-top: 30px;
                    font-size: 34px;
                    line-height: 55px;
                }
                & .inputBox{
                    margin-bottom: 40px;
                    & .inputClass{
                        font-size: 14px;
                        &.colourClass{
                        }
                    }
                    & .capMain{
                        & img{
                        }
                    }
                    & .searchMain{
                        & img{
                        }
                    }
                }
            }
        }
        .partnersCardFluid{
            & .partnersCardContainer{
                & .paddingClass{
                    & .cardHeader{
                        font-size: 14px;
                    }
                    & .headerArrow{
                        & img{
                            height: 15px;
                        }
                    }
                    & .university{
                            padding: 15px 10px 15px 10px !important;
                        & img{
                        }
                    }
                    & .btnPadding{
                        & .bottomBtn{
                        }
                    }
                }
            }
        }
        .agentSignUpOnefluid{
            & .agentSingnUpContainer{
                & .agentSignUpBox{
                    padding: 20px 20px !important;
                    margin-top: 55px;
                    & .agentSignUpMainHead{
                        font-size: 20px;
                        margin-bottom: 12px;
                    }
                    & .noteBox{
                        padding: 12px 16px;
                        & .noteTxt{
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                    & .agentSignUpFormInp{
                        height: 40px;
                        font-size: 13px;
                        padding: 24px 18px;
                    }
                    & .agentSignUpBtn{
                        height: 50px;
                        font-size: 14px;
                        &:hover{
                            
                        }
                    }
                    & .agentLblTopTxt{
                        margin-top: 0;
                        font-size: 15px;
                    }
                    & .agentLbl{
                        height: 90px;
                        padding: 18px 18px;
                        margin-bottom: 15px;
                        & span:first-child{
                            font-size: 12px;
                        }
                        & span:last-child{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .allPartnersFluid{
            & .allpartnersContainers{
                & .allPartnersHeading{
                    font-size: 28px;
                    line-height: 30px;
                    margin-bottom: 12px;
                }
                & .inputBox{
                    margin-bottom: 30px;
                    & .inputClass{
                        padding: 30px 58px 30px 46px;
                        font-size: 13px;
                        height: 35px !important;
                        &.colourClass{
                        }
                    }
                    & .capMain{
                        left: 12px;
                        & img{
                        }
                    }
                    & .searchMain{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 11px;
                        & img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .partnersCardFluid{
            & .partnersCardContainer{
                & .paddingClass{
                    & .cardHeader{
                        font-size: 15px;
                    }
                    & .headerArrow{
                        & img{
                        }
                    }
                    & .university{
                        & img{
                        }
                    }
                    & .btnPadding{
                        & .bottomBtn{
                        }
                    }
                }
            }
        }
        .agentSignUpOnefluid{
            & .agentSingnUpContainer{
                & .agentSignUpBox{
                    // padding: 12px 12px;
                    margin-top: 0;
                    padding: 20px 0 !important;
                    border: none;
                    & .agentSignUpMainHead{
                        margin-bottom: 5px;
                        font-size:14px ;
                    }
                    & .noteBox{
                        padding: 16px 16px;
                        & .noteTxt{
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                    & .agentSignUpFormInp{
                        font-size: 12px;
                        padding: 24px 14px;
                    }
                    & .agentSignUpBtn{
                        
                        &:hover{
                            
                        }
                    }
                    & .agentLblTopTxt{
                        font-size: 14px;
                        margin-top: 0;
                    }
                    & .agentLbl{
                        padding: 12px 12px;
                        height: 90px;
                        margin-bottom: 15px;
                        & span:first-child{
                            font-size: 15px;
                            line-height: 20px;
                        }
                        & span:last-child{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
.indexTestimonialsFluid{
    // background-color: #FAFAFA;
    background-color: #FAFAFA;
    height: 100%;
    padding: 0 !important;
    & .indexTestimonialsContainer{
        & .testimonialsHeading{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: #1D1D1D;
            text-align: center;
            margin-top: 83px;
            margin-bottom: 63px;
        }
        & .swiper {
            width: 100%;
            height: 100%;
            & .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        & .testimonialsImageSwiper{
            position: relative !important;
            & .swiperWrapper{
                & .swiperSlide{
                    background: unset !important;
                    & .testimonialsImage{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                        & .vedioIcon{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 56px;
                            height: 56px;
                        }
                    }
                }
            }
        }
        & .swiperBtnsClass{
            & .swiper-button-prev{
                &::after{
                    display: none;
                }
                width: 41px;
                height: 41px;
                border-radius: 50%;
                background: #F6F8F9;
                box-shadow: 0px 2.18667px 9.29333px rgba(0, 0, 0, 0.13);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                background-image: url(../img/svg/rightarrowwhite.svg);
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.9;
                position: absolute;
                left: -5%;
                top: 50%;
            }
            & .swiper-button-next{
                &::after{
                    display: none;
                }
                width: 41px;
                height: 41px;
                border-radius: 50%;
                background: #F6F8F9;
                box-shadow: 0px 2.18667px 9.29333px rgba(0, 0, 0, 0.13);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                background-image: url(../img/svg/leftarrowwhite.svg);
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.9;
                position: absolute;
                right: -5%;
                top: 50%;
            }

        }
    }
}
@include media-breakpoint-down(xxl) {
    .indexTestimonialsFluid{
        & .indexTestimonialsContainer{
            & .testimonialsHeading{
            }
            & .swiper {
                & .swiper-slide {
                }
            }
            & .testimonialsImageSwiper{
                & .swiperWrapper{
                    & .swiperSlide{
                        & .testimonialsImage{
                            & img{
                            }
                            & .vedioIcon{
                            }
                        }
                    }
                }
            }
            & .swiperBtnsClass{
                & .swiper-button-prev{
                    &::after{
                    }
                    position: absolute;
                    top: 52%;
                    left: 1%;
                }
                & .swiper-button-next{
                    &::after{
                    }
                    position: absolute;
                    top: 52%;
                    right: 1%;
                }
    
            }
        }
    }
}
@include media-breakpoint-down(xl) {
    .indexTestimonialsFluid{
        & .indexTestimonialsContainer{
            & .testimonialsHeading{
            }
            & .swiper {
                & .swiper-slide {
                }
            }
            & .testimonialsImageSwiper{
                & .swiperWrapper{
                    & .swiperSlide{
                        & .testimonialsImage{
                            & img{
                            }
                            & .vedioIcon{
                            }
                        }
                    }
                }
            }
            & .swiperBtnsClass{
                & .swiper-button-prev{
                    &::after{
                    }
                    position: absolute;
                    top: 52%;
                    left: 2%;
                }
                & .swiper-button-next{
                    &::after{
                    }
                    position: absolute;
                    top: 52%;
                    right: 2%;
                }
    
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .indexTestimonialsFluid{
        & .indexTestimonialsContainer{
            & .testimonialsHeading{
            }
            & .swiper {
                & .swiper-slide {
                }
            }
            & .testimonialsImageSwiper{
                & .swiperWrapper{
                    & .swiperSlide{
                        & .testimonialsImage{
                            & img{
                            }
                            & .vedioIcon{
                            }
                        }
                    }
                }
            }
            & .swiperBtnsClass{
                & .swiper-button-prev{
                    &::after{
                    }
                    position: absolute;
                    left: 5%;
                }
                & .swiper-button-next{
                    &::after{
                    }
                    position: absolute;
                    right: 5%;
                }
    
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .indexTestimonialsFluid{
        & .indexTestimonialsContainer{
            & .testimonialsHeading{
            }
            & .swiper {
                & .swiper-slide {
                }
            }
            & .testimonialsImageSwiper{
                & .swiperWrapper{
                    & .swiperSlide{
                        & .testimonialsImage{
                            & img{
                            }
                            & .vedioIcon{
                            }
                        }
                    }
                }
            }
            & .swiperBtnsClass{
                & .swiper-button-prev{
                    &::after{
                    }
                    position: absolute;
                    left: 6%;
                    top: 52%;
                }
                & .swiper-button-next{
                    &::after{
                    }
                    position: absolute;
                    right: 2%;
                    top: 52%;
                }
    
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .indexTestimonialsFluid{
        & .indexTestimonialsContainer{
            & .testimonialsHeading{
            }
            & .swiper {
                & .swiper-slide {
                }
            }
            & .testimonialsImageSwiper{
                & .swiperWrapper{
                    & .swiperSlide{
                        & .testimonialsImage{
                            & img{
                            }
                            & .vedioIcon{
                            }
                        }
                    }
                }
            }
            & .swiperBtnsClass{
                & .swiper-button-prev{
                    &::after{
                    }
                    position: absolute;
                    left: 9%;
                    top: 52%;
                }
                & .swiper-button-next{
                    &::after{
                    }
                    position: absolute;
                    right: 9%;
                    top: 52%;
                }
    
            }
        }
    }
}
[data-bs-theme=dark] {
    & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}
// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

