// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=agentPage] {
    @include media-breakpoint(basic) {
        .agentPageSection {
            background-color: #F8F8F8;
            padding-top: 23px;
            margin-bottom: 62px;
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                        padding-bottom: 10px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 46px;
                        line-height: 80px;
                        display: flex;
                        align-items: center;
                        color: #000000;
                    }
                    & .agentBannerPara {
                        padding-bottom: 29px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        display: flex;
                        align-items: center;
                        color: #494949;
                    }
                    & .agentBannerButton {
                        & .btnRed {
                            background-color: #B4111A;
                            font-family: 'Poppins';
                            border: 2px solid #B4111A;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 27px;
                            display: flex;
                            align-items: center;
                            color: #FFFFFF;
                            border-radius: 5px;
                            padding: 15px 23px;
                            margin-right: 19px;
                            &:hover {
                                border: 2px solid #B4111A;
                                background-color: white;
                                color: #B4111A;
                            }
                        }
                        
                        & .btnWhite {
                            background-color: white;
                            border: 2px solid white;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 27px;
                            display: flex;
                            align-items: center;
                            color: #B4111A;
                            border-radius: 5px;
                            padding: 15px 23px;
                            &:hover {
                                border: 2px solid #B4111A;
                                background-color: #B4111A;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 60px;
                    display: flex;
                    align-items: center;
                    color: #B4111A;
                    justify-content: center;
                    padding-bottom: 89px;
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        padding-right: 100px;
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                padding-bottom: 54px;
                                & .commisonsBarRateHeading {
                                    padding-bottom: 10px;
                                    & .agentLabel {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 20px;
                                        line-height: 30px;
                                        display: flex;
                                        align-items: center;
                                        color: #000000;
                                        
                                    }
                                    & .commisonsBarValue{
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 28px;
                                        line-height: 42px;
                                        display: flex;
                                        align-items: center;
                                        color: #000000;
                                    }
                                }
                                
                                & .commisionRateRange {
                                    // & .form-range {
                                    //     width: 700px;
                                    //     height: 12px !important;
                                    //     background: #D9D9D9;
                                    //     border-radius: 20px;
                                    //     -webkit-appearance: none !important;
                                    //     outline: none;
                                    //     -webkit-transition: .2s;
                                    // }
                                    & input[type=range]::-webkit-slider-runnable-track {
                                        width: 100%;
                                        height: 12px !important;
                                        cursor: pointer;
                                        animate: 0.2s;
                                        box-shadow: none !important;
                                        background: #D9D9D9 !important;
                                        border-radius: 20px;
                                        border: 0px !important;
                                    }
                                    & .form-range::-ms-track {
                                        height: 100px !important;
                                    }
                                    & .form-range::-ms-thumb{
                                        height: 100px !important;
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                        -webkit-appearance: none; 
                                        appearance: none;
                                        width: 38px !important; 
                                        height: 38px !important; 
                                        background: #B4111A !important;
                                        cursor: pointer !important; 
                                        border-radius: 100%;
                                        top: 30%;
                                        box-shadow: none !important;
                                        transform: translate(0,-30%);
                                    }
                                    & .form-range::-moz-range-thumb {
                                    width: 38px; 
                                    height: 38px; 
                                    background: #B4111A;
                                    cursor: pointer; 
                                    }
                                }
                            }
                            & .agentLabel {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 30px;
                                display: flex;
                                align-items: center;
                                color: #000000;
                                padding-bottom: 10px;
                            }
                            & .agentFormSelect {
                                margin-bottom: 25px;
                                & .form-select {
                                    min-height: 58px;
                                    box-shadow: none !important;
                                    border-radius: 2px !important;
                                    color: $gray-500 !important;
                                    background: rgba(217, 217, 217, 0.12);
                                    border-radius: 16px !important;
                                    &::after{
                                        appearance: none !important;
                                        background-image: url('../img/svg/SelectArrow.svg') !important;
                                        width: 30px;
                                        height: 30px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        position: absolute;
                                        top: 50%;
                                        right: 20px;
                                    }
                                    // appearance: auto;
                                    &:valid{
                                        background-image: none;
                                    }
                                    
                                }
                                & .select2-selection--single {
                                    font-family: 'Poppins';
                                    min-height: 58px !important;
                                    box-shadow: none !important;
                                    border-radius: 2px !important;
                                    color: #454545 !important;
                                    background: rgba(217, 217, 217, 0.12) !important;
                                    border-radius: 16px !important;
                                    font-size: 16px !important;
                                    padding: 0.9rem .75rem .425rem .75rem !important;
                                    font-weight: 500 !important;
                                }
                            }
                        }
                        & .agentAverage {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 27px;
                            display: flex;
                            align-items: center;
                            color: #454545;
                        }
                    }
                    
                    & .agentCommisionsImg {
                        // max-width: 509px;
                        // background-image: url('../img/svg/agentCommisions.svg');
                        // background-position: center;
                        // background-size:contain ;
                        // background-repeat: no-repeat;

                        & .commisionrightStep {
                            padding-bottom: 37px;
                            & .commisionHeadingStep {
                                padding-bottom: 10px;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 36px;
                                display: flex;
                                align-items: center;
                                color: #FFFFFF;
                            }
                            & .commisionHeadingPrice{
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 38px;
                                line-height: 57px;
                                display: flex;
                                align-items: center;
                                color: #FFFFFF;
                            }
                            &:last-child {
                                padding-bottom: 0;
                            }
                        }
                        
                        // & img {
                        //     aspect-ratio: 10/10;
                        //     object-fit: contain;
                        //     object-position: center;
                        // }
                    }
                }
            }
        }
        .partnerSection {
            padding-top: 60px;
            padding-bottom: 90px;
            &.bgPartner {
                background-color: #FAFAFA;
            }
            & .secHead {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
                color: #1D1D1D;
                text-align: center;
                padding-bottom: 48px;
            }
            & .viewAllBtn {
                font-family: 'Poppins';
                width: 144px;
                height: 57px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                margin-top: 48px;
                background-color: #B4111A;
                border-radius: 5px;
                margin-left: auto;
                margin-right: auto;
            }
            .partnerCard{
                background-color: #FFFFFF;
                box-shadow: 0px 1px 11px 3px rgba(0,0,0,.1);
                border-radius: 7.86093px;
                min-height: 222px;
                flex-direction: column;
                margin: 0.6rem !important;
                & .cardHeader{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15.7219px;
                    line-height: 24px;
                    color: #000000;
                    padding: 18px 0 18px 18px;
                }
                & .headerArrow{
                    width: 26px;
                    height: 26px;
                    margin: 18px 9px 18px 0;
                    display: block;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
                & .university{
                    padding: 44px 38px 44px 38px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    & img{
                    max-height: 68px;
                    max-width: 100%;
                    }
                }
                & .btnPadding{
                    padding: 0 18px 11px 18px;
                    & .bottomBtn{
                        background: #FFFFFF;
                        border: 1px solid #DDDDDD;
                        border-radius: 5px;
                        border-color: #DDDDDD ;
                        width: 100%;
                        padding: 8px 51px;
                        color: #B4111A;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            background-color: #B4111A;
                            color: white;
                        }
                    }
                }
            }
            .swiper-button-prev,
            .swiper-button-next,
            .prevBtn,
            .nextBtn {
                height: 41px;
                width: 41px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F6F8F9;
                box-shadow: 0px 2.18667px 9.29333px rgba(0, 0, 0, 0.13);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                &::after {
                    display: none;
                }
                &.swiper-button-disabled {
                    opacity: 1;
                }
            }
            .swiper-button-prev, .prevBtn {
                left: -50px;
            }
            .swiper-button-next, .nextBtn {
                right: -50px;
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        .agentPageSection {
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                        font-size: 44px;
                        line-height: 54px;
                    }
                    & .agentBannerPara {
                        font-size: 17px;
                    }
                    & .agentBannerButton {
                        & .btnRed {
                            font-size: 17px;
                            &:hover {
                            }
                        }
                        
                        & .btnWhite {
                            font-size: 17px;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        padding-right: 50px;
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                & .commisonsBarRateHeading {
                                    & .agentLabel {
                                        
                                    }
                                    & .commisonsBarValue{
                                    }
                                }
                                
                                & .commisionRateRange {
                                    & input[type=range]::-webkit-slider-runnable-track {
                                    }
                                    & .form-range::-ms-track {
                                    }
                                    & .form-range::-ms-thumb{
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                    }
                                    & .form-range::-moz-range-thumb { 
                                    }
                                }
                            }
                            & .agentLabel {
                            }
                            & .agentFormSelect {
                                & .form-select {
                                    &::after{
                                    }
                                    &:valid{
                                    }
                                    
                                }
                                & .select2-selection--single {
                                }
                            }
                        }
                        & .agentAverage {
                        }
                    }
                    
                    & .agentCommisionsImg {
                        & .commisionrightStep {
                            & .commisionHeadingStep {
                            }
                            & .commisionHeadingPrice{
                            }
                            &:last-child {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {
        .agentPageSection {
            background-color: #F8F8F8;
            padding-top: 23px;
            margin-bottom: 40px;
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                    }
                    & .agentBannerPara {
                    }
                    & .agentBannerButton {
                        & .btnRed {
                            padding: 12px 23px;
                            &:hover {
                            }
                        }
                        
                        & .btnWhite {
                            padding: 12px 23px;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }

        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                    padding-bottom: 20px;
                    font-size: 36px;
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                padding-bottom: 40px;
                                & .commisonsBarRateHeading {
                                    padding-bottom: 8px;

                                    & .agentLabel {
                                        font-size: 18px;
                                    }
                                    & .commisonsBarValue{
                                        font-size: 26px;
                                    }
                                }
                                
                                & .commisionRateRange {
                                    & input[type=range]::-webkit-slider-runnable-track {
                                    }
                                    & .form-range::-ms-track {
                                    }
                                    & .form-range::-ms-thumb{
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                    }
                                    & .form-range::-moz-range-thumb {
                                    }
                                }
                            }
                            & .agentLabel {
                            }
                            & .agentFormSelect {
                                margin-bottom: 15px;
                                & .form-select {
                                    &::after{
                                    }
                                    // appearance: auto;
                                    &:valid{
                                    }
                                    
                                }
                                & .select2-selection--single {
                                    min-height: 55px !important;
                                    font-size: 15px !important;
                                }
                            }
                            
                        }

                        & .agentAverage {
                            font-size: 16px;
                        }
                    }
                    
                    & .agentCommisionsImg {
                        & .commisionrightStep {
                            padding-bottom: 25px;
                            & .commisionHeadingStep {
                                font-size: 22px;
                                padding-bottom: 5px;
                            }
                            & .commisionHeadingPrice{
                                font-size: 36px;
                            }
                            &:last-child {
                            }
                        }
                        
                        & img {
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        
        .agentPageSection {
            margin-bottom: 30px;
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                        font-size: 40px;
                        line-height: 48px;
                    }
                    & .agentBannerPara {
                        font-size: 16px;
                        line-height: 26px;
                    }
                    & .agentBannerButton {
                        & .btnRed {
                            font-size: 15px;
                            padding: 8px 12px;
                            &:hover {
                            }
                        }
                        
                        & .btnWhite {
                            font-size: 15px;
                            padding: 8px 12px;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                    font-size: 32px;
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        padding-right: 0;
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                & .commisonsBarRateHeading {
                                    & .agentLabel {
                                        
                                    }
                                    & .commisonsBarValue{
                                    }
                                }
                                
                                & .commisionRateRange {
                                    & input[type=range]::-webkit-slider-runnable-track {
                                    }
                                    & .form-range::-ms-track {
                                    }
                                    & .form-range::-ms-thumb{
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                    }
                                    & .form-range::-moz-range-thumb { 
                                    }
                                }
                            }
                            & .agentLabel {
                            }
                            & .agentFormSelect {
                                & .form-select {
                                    &::after{
                                    }
                                    &:valid{
                                    }
                                    
                                }
                                & .select2-selection--single {
                                }
                            }
                        }
                        & .agentAverage {
                        }
                    }
                    
                    & .agentCommisionsImg {
                        & .positionCard {
                            top: 50% !important;
                            transform: translateY(-50%);
                            left: 40px;
                        }
                        & .commisionrightStep {
                            & .commisionHeadingStep {
                            }
                            & .commisionHeadingPrice{
                            }
                            &:last-child {
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        
        .agentPageSection {
            padding-bottom: 25px;
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                    }
                    & .agentBannerPara {
                    }
                    & .agentBannerButton {
                        & .btnRed {
                            &:hover {
                            }
                        }
                        
                        & .btnWhite {
                            &:hover {
                            }
                        }
                    }
                }
                & .agentbannerImg {
                    text-align: center;
                    margin-bottom: 20px;
                    & img {
                        width: 60% !important;
                    }
                }
            }
        }
        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                    font-size: 30px;
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                padding-bottom: 30px;
                                & .commisonsBarRateHeading {
                                    padding-bottom: 0;
                                    & .agentLabel {
                                        font-size: 16px;
                                    }
                                    & .commisonsBarValue{
                                        font-size: 24px;
                                    }
                                }
                                
                                & .commisionRateRange {
                                    & input[type=range]::-webkit-slider-runnable-track {
                                    }
                                    & .form-range::-ms-track {
                                        height: 6px !important;
                                    }
                                    & .form-range::-ms-thumb{
                                        height: 30px !important;
                                        width: 30px !important;
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                        height: 30px !important;
                                        width: 30px !important;
                                        top: 25%;
                                        transform: translate(0,-25%);
                                    }
                                    & .form-range::-moz-range-thumb { 
                                        height: 30px !important;
                                        width: 30px !important;
                                    }
                                }
                            }
                            & .agentLabel {
                                font-size: 16px;
                            }
                            & .agentFormSelect {
                                & .form-select {
                                    &::after{
                                    }
                                    &:valid{
                                    }
                                    
                                }
                                & .select2-selection--single {
                                    min-height: 53px !important;
                                }
                            }
                        }
                        & .agentAverage {
                        }
                    }
                    
                    & .agentCommisionsImg {
                        & .commisionrightStep {
                            & .commisionHeadingStep {
                                font-size: 20px;
                                padding-bottom: 0;
                            }
                            & .commisionHeadingPrice{
                                font-size: 32px;
                            }
                            &:last-child {
                            }
                        }
                        & .positionCard {
                            left: 30px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        
        .agentPageSection {
            & .agentBanner {
                & .agentBannerContent {
                    & .agentBannerHeading {
                        font-size: 36px;
                        line-height: 40px;
                    }
                    & .agentBannerPara {
                        line-height: 24px;
                        padding-bottom: 15px;
                    }
                    & .agentBannerButton {
                        flex-direction: column;
                        & .btnRed {
                            margin-right: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 12px;
                            font-size: 14px;
                            &:hover {
                            }
                        }
                        
                        & .btnWhite {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
        .agentCommisionsSection {
            & .agentCommisions{
                & .agentCommisionsHeading {
                    font-size: 26px;
                    line-height: 32px;
                }
                & .agentCommisionsContent {
                    & .agentCommisionsBar {
                        & .agentCommisionsCountry {
                            & .CommisionRate {
                                padding-bottom: 20px;
                                & .commisonsBarRateHeading {
                                    & .agentLabel {
                                        
                                    }
                                    & .commisonsBarValue{
                                    }
                                }
                                
                                & .commisionRateRange {
                                    & input[type=range]::-webkit-slider-runnable-track {
                                        height: 8px !important;
                                    }
                                    & .form-range::-ms-track {
                                    }
                                    & .form-range::-ms-thumb{
                                        height: 24px !important;
                                        width: 24px !important;
                                    }
                                    & .form-range::-webkit-slider-thumb {
                                        height: 24px !important;
                                        width: 24px !important;
                                    }
                                    & .form-range::-moz-range-thumb { 
                                        height: 24px !important;
                                        width: 24px !important;
                                    }
                                }
                            }
                            & .agentLabel {
                                padding-bottom: 5px !important;
                            }
                            & .agentFormSelect {
                                & .form-select {
                                    &::after{
                                    }
                                    &:valid{
                                    }
                                    
                                }
                                & .select2-selection--single {
                                    min-height: 50px !important;
                                    border-radius: 10px !important;
                                    font-size: 14px !important;
                                    padding: 0.75rem 0.75rem 0.425rem 0.75rem !important;
                                }
                            }
                        }
                        & .agentAverage {
                        }
                    }
                    & .calculatorBox {
                        background-image: url(./../img/svg/agentCommisionBg.svg);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        padding: 0 !important;
                        border-radius: 16px;
                        overflow: hidden;
                    }
                    & .agentCommisionsImg {
                        & img {
                            display: none;
                        }
                        & .positionCard {
                            position: static !important;
                            transform: translate(0);
                            padding: 25px 20px !important;
                        }
                        & .commisionrightStep {
                            padding-bottom: 18px;
                            & .commisionHeadingStep {
                                font-size: 16px;
                                line-height: 24px;
                            }
                            & .commisionHeadingPrice{
                                font-size: 28px;
                            }
                            &:last-child {
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-bs-theme=dark] {
    & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

