// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

    @include media-breakpoint(basic) {
        
        .topNavbar {
            height: 86px;
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 149px;
                        height: 86px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        padding: 0 13px;
                        & .linkAnchor {
                            font-family: 'Poppins';
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                            transition: 0.3s ease;
                            &:hover,
                            &.active {
                                color: #B5141D;;
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .loginBtn {
                    width: 104px;
                    height: 39px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #B4111A;
                    border: 1px solid #B4111A;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    &:hover {
                        background-color: #B4111A;
                        color: #ffffff;
                    }
                }
                & .registerBtn {
                    width: 127px;
                    height: 39px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    background-color: #B4111A;
                    border: 1px solid #B4111A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    border-radius: 5px;
                    margin: 0 0px 0 17px;
                    &:hover {
                        background-color: white;
                        color: #B4111A;
                    }
                }
                & .heartIcon {
                    height: 25px;
                    margin: 0 45px;
                }
                & .searchIcon {
                    height: 25px;
                }
            }
            & .mobMenuIcon {
                margin-right: 28px;
                & img {
                    width: 16px;
                    height: 10px;
                }
            }
        }
        .menuOffcanvas {
            width: 280px !important;
            & .offcanvas-header {
                & .offcanvas-title {
                    & img {
                        width: 180px;
                    }
                }
                & .btn-close {
                    background-size: 0.8em;
                }
            }
            & .offcanvas-body {
                padding-top: 0;
                & .linkItems {
                    & .linkItem {
                        padding: 7px 0px;
                        & .linkAnchor {
                            font-family: 'Roboto';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            color: #3C3C3C;
                            transition: 0.3s ease;
                            &:hover,
                            &.active {
                                color: #E32333;
                            }
                        }
                    }
                }
            }
            & .offcanvas-footer {
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            height: 16px;
                            width: 16px;
                            display: flex;
                            & img {
                                height: 16px;
                                width: 16px;
                            }
                            &:nth-child(2) {
                                margin: 0 12px;
                            }
                        }
                    }
                    & .callBtn {
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Roboto';
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        color: #2C2C2C;
                        & img {
                            height: 16px;
                            width: 15px;
                            margin-right: 9px;
                        }
                    }
                }
                & .partnerBtn {
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #E32333;
                    border: 1px solid #E32333;
                }
                & .loginBtn {
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    background-color: #E32333;
                    border: 1px solid #E32333;
                }
                & .consultationBtn {
                    height: 58px;
                    background: #E32333;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 0 17px;
                    & img {
                        height: 27px;
                        width: 27px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}


[data-bs-theme=dark] {
    & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

